@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-800;
}

section {
  @apply transition-opacity duration-500 ease-in-out;
}

/* Add this new style for better visibility of header text when transparent */

/* Swiper 스타일 커스터마이징 */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
}
